# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
ENV/

# Local env files
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

# Logs
*.log

# ML artifacts
model.pkl

# Test caches
.pytest_cache/

# Streamlit
.streamlit/secrets.toml
